*{
    margin: 0px;
    padding:0px;
}
.content{
    width:100%;
    margin: 0 auto;
}
img{
    width:70px;
    height:70px;
    margin: 60px 135px;
}
.div1{
    width:90%;
    margin: 0px auto;
}
.forget{
    float: left;
}
.sign-up{
    float:right;
}
.div2{
    width:90%;
    margin: 0px auto;
    clear: both;
    text-align: center;
}
button{
    width:100%;
}
.div3{
    margin-top:80px;
    text-align: center;
}
