ul,li{
    list-style: none;
}
header{
    height:50px;
    background: rgba(47,47,47,0.98);
}
label{
    float: left;
    width: 100px;
    line-height: 45px;
    color: #DDD;
    font-size: 24px;
}
.todo{
    width: 620px;
    margin: 0 auto;
}
.addTodo{
    width: 60%;
    height: 24px;
    float: right;
    margin-top: 12px;
    border-radius: 5px;
    border: none;
}
